@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
body {
	color: #000000;
	font-size: 30px;
	height: 100vh;
	background-image: linear-gradient( 135deg, #FFE985 10%, #FA742B 100%);
	
	/*background-color: #F4D03F;*/
	/*background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);*/

	/*background-color: #FFFFFF;*/
	/*background-image: linear-gradient(69deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100%);*/

	/*background-color: #4158D0;*/
	/*background-image: linear-gradient(90deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);*/

	/*background-color: #21D4FD;*/
	/*background-image: linear-gradient(123deg, #21D4FD 0%, #B721FF 100%);*/

	background-color: #FFE53B;
	background-image: linear-gradient(135deg, #FFE53B 0%, #FF2525 74%);



	/*background-image: radial-gradient( circle farthest-corner at -4.5% 34.3%,  rgba(13,20,174,1) 0%, rgba(243,165,140,1) 90% );*/

	/*background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );*/

	/*background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);*/

	/*background: #654ea3;   fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */*/
	/*background: linear-gradient(to right, #eaafc8, #654ea3);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.first-sec {
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px;
	font-family: "Roboto";
}
.primary-title {
	margin-left: 30px;
	padding: 10px;
	/*font-size: 100px;*/
}
.secondary-titles {
	/*text-align: center;*/
	margin-left: 42%;
	padding-top: 10px;
}
.top-links {
	margin-left: 20px;
	text-decoration: none;
	color: #ffffff;
	font-size: 25px;
	/*margin-top: 30px;*/
}
.myimg {
	width: 600px;
	height: 300px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.carousel-container {
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 0px;
	width: 1000px;
}
.sugg {
	color: #ffffff;
	background-color: #000000;
	padding: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	font-size: 20px;
}
.intro-title {
	font-size: 60px;
	font-weight: bold;
	/*font-family: "Times New Roman";*/
	font-family: "Roboto";

}
.intro {
	width: 1500px;
	text-align: center;
	padding-top: 200px;
	font-size: 25px;

}
.mybtn {
	color: #ffffff;
	font-size: 30px;
}
.clicking {
	color: #ffffff;
	text-align: right;
	padding-right: 120px;
	padding-top: 90px;
	font-size: 20px;
}
.emoji{
	font-size: 34px;
}
.mydisk{
	font-size: 30px;
	display: inline-block;
	color: #ffa703;
}
#testing{
	display: none;
}